@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



/* 
================================
Variables
================================
*/
:root {

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --moderate-violet-1: hsl(263, 90%, 76%);
    --moderate-violet-2: hsla(263, 90%, 76%, 0.1);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-grayish-blue-5: hsla(217, 19%, 35%, 50%);
    --dark-grayish-blue-7: hsla(217, 19%, 35%, 70%);
    
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);


    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-5: hsla(0, 0%, 81%, 0.5);
    --light-gray-7: hsla(0, 0%, 81%, 0.7);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --border-radius: 0.75rem;

    --font-family: 'Barlow Semi Condensed', sans-serif;
    
}

/* 
================================
Global Styles
================================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 81.3%;} /*13px*/

body {
    background: var(--light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    color: #000000;
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-blackish-blue);
    margin-top: 0.5rem;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


/* 
=============================
Card Container
=============================
*/

main {
    display: grid;
    justify-content: center;
}

.card-container {
    display:grid;
    row-gap: 30px;
    grid-auto-columns: minmax(200px, 1fr);
    margin-top: 5rem;
    justify-content: center;
    width: 85vw;
}

/*
================================
Card
================================
 */

/* Generic card style */
.review-card {
    border-radius: var(--border-radius);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

/* Person */
.person-details {
    display: flex;
    flex: 55px 0 0;
}

.person-name {
    width: 10rem;
    height: 1rem;
    color: var(--light-gray);
    font-size: 1.25rem;
}

.person-verification{
    color: var(--light-gray-5);
    font-size: 0.95rem;
    margin-top: -0.35rem;
}

.profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: transparent;
    margin-right: 1rem;
}

/* gap between person name and verification */
.person-name-container p {
    margin-bottom: 1rem;
}


/* Testimonial card title */
.card-title {
    color: var(--light-grayish-blue);
    font-size: 1.55rem;
    line-height: 1.35;
    max-width: 90%;
    font-weight: 600;
}

/* Testimonial card details */
.card-details {
    color: var(--light-gray-7);
    max-width: 90%;
    margin-top: 0.75rem;
}

/* Blockquote in testimonial details */
.blockquote p::before {
    content: open-quote;
}

.blockquote p::after {
    content: close-quote;
}

.blockquote {
    quotes: "“" "”" "‘" "’";
}

/* Purple card specific blockquote */
.fancy-blockquote {
    position: relative;
}

.fancy-blockquote::before {
    position: absolute;
    top: -325px;
    right: -15px;
    content: url(/images/bg-pattern-quotation.svg);
    opacity: 70%;
    font-size: 25rem;
}


/* Specific background color cards */
.purple-card {
    background: var(--moderate-violet);
}

.gray-card {
    background: var(--dark-grayish-blue);
}

.dark-gray-card {
    background-color: var(--dark-blackish-blue);
}

/* White background card*/
.white-card {
    background: var(--white);
}

.white-card .person-name {
    color: var(--dark-grayish-blue);
}

.white-card .person-verification {
    color: var(--dark-grayish-blue-5);
}

.white-card .card-title {
    color: var(--dark-blackish-blue);
}
.white-card .card-details {
    color: var(--dark-grayish-blue-7);
    
}

/* Purple border around profile image */
.purple-card .profile-img, 
.dark-gray-card .profile-img {
    border: solid 2px var(--moderate-violet-1);  
}


/* 
=======================================
Media query
=======================================
*/

@media screen and (min-width: 638px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .review-card {
        justify-content: flex-start;
    }

}



@media screen and (min-width: 1280px) {
    
    main{
        align-items: center;
        min-height: 100vh;
    }

    .card-container {
        grid-template-rows: repeat(2, 330px);
        grid-template-columns: repeat(4, minmax(280px, 1fr));
        grid-template-areas:
            "a a b c"
            "d e e c ";
        max-width: 1200px;
    }
    
    .card-title {
        max-width: 100%;
        font-size: 1.55rem;
    }
    .card-details {
        align-self: flex-start;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .purple-card {
        grid-area:a
    }

    .gray-card {
        grid-area: b;
    }

    .white-card-2 {
        grid-area: c;
    }

    .dark-gray-card {
        grid-area: e;
    }

    .white-card-1 {
        grid-area: d;
    }

    .white-card-1 .card-title {
        max-width: 75%;
    }
    
    .fancy-blockquote::before {
        right: 50px;
    } 



}