@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



/* 
================================
Variables
================================
*/
:root {

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --moderate-violet-1: hsl(263, 90%, 76%);
    --moderate-violet-2: hsla(263, 90%, 76%, 0.1);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-grayish-blue-5: hsla(217, 19%, 35%, 50%);
    --dark-grayish-blue-7: hsla(217, 19%, 35%, 70%);
    
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);


    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-5: hsla(0, 0%, 81%, 0.5);
    --light-gray-7: hsla(0, 0%, 81%, 0.7);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --border-radius: 0.75rem;

    --font-family: 'Barlow Semi Condensed', sans-serif;
    
}

/* 
================================
Global Styles
================================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 81.3%;} /*13px*/

body {
    background: var(--light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    color: #000000;
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-blackish-blue);
    margin-top: 0.5rem;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}

/* 
=============================
Card Container
=============================
*/

main {
    display: grid;
    justify-items: center;
}

.card-container {
    max-width: 370px;
    width: 80%;
    display:grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
}

/*
================================
Card
================================
 */

/* Generic card style */
.review-card {
    display: grid;
    grid-template-rows: 55px auto auto;
    grid-template-rows:  50px repeat(auto-fill, 1fr);
    grid-template-columns: minmax(350px, 1fr);
    border-radius: var(--border-radius);
    padding: 0 2rem;
}

/* Person */
.person-details {
    display: flex;
    margin-top: 2rem;
    padding-left: 0.75rem;
}

.person-name {
    width: 10rem;
    height: 1rem;
    color: var(--light-gray);
    font-size: 0.75rem;
}

.person-verification{
    color: var(--light-gray-5);
    font-size: 0.65rem;
    margin-top: -0.85rem;
}

.profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: transparent;
    margin-right: 1rem;
}

/* gap between person name and verification */
.person-name-container p {
    margin-bottom: 1rem;
}


/* Testimonial card title */
.card-title {
    color: var(--light-grayish-blue);
    font-size: 1.55rem;
    margin-top: 0.5rem;
    line-height: 1.35;
    padding: 0.75rem;
    max-width: 80%;
    font-weight: 600;
}

/* Testimonial card details */
.card-details {
    color: var(--light-gray-7);
    padding: 1.15rem;
    max-width: 90%;
}

/* Blockquote in testimonial details */
.blockquote p::before {
    content: open-quote;
}

.blockquote p::after {
    content: close-quote;
}

.blockquote {
    quotes: "“" "”" "‘" "’";
}

/* Purple card specific blockquote */
.fancy-blockquote {
    position: relative;
}

.fancy-blockquote::before {
    position: absolute;
    top: -315px;
    right: -15px;
    content: url(/images/bg-pattern-quotation.svg);
    opacity: 70%;
    font-size: 25rem;
}


/* Specific background color cards */
.purple-card {
    background: var(--moderate-violet);
}

.gray-card {
    background: var(--dark-grayish-blue);
}

.dark-gray-card {
    background-color: var(--dark-blackish-blue);
}

/* White background card */
.white-card {
    background: var(--white);
}

.white-card .person-name {
    color: var(--dark-grayish-blue);
}

.white-card .person-verification {
    color: var(--dark-grayish-blue-5);
}

.white-card .card-title {
    color: var(--dark-blackish-blue);
}
.white-card .card-details {
    color: var(--dark-grayish-blue-7);
    
}

/* Purple border around profile image */
.purple-card .profile-img, 
.dark-gray-card .profile-img {
    border: solid 2px var(--moderate-violet-1);  
}