@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



/* 
================================
Variables
================================
*/
:root {

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --moderate-violet-1: hsl(263, 90%, 76%);
    --moderate-violet-2: hsla(263, 90%, 76%, 0.1);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-grayish-blue-5: hsla(217, 19%, 35%, 50%);
    --dark-grayish-blue-7: hsla(217, 19%, 35%, 70%);
    
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);


    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-5: hsla(0, 0%, 81%, 0.5);
    --light-gray-7: hsla(0, 0%, 81%, 0.7);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --border-radius: 0.75rem;

    --font-family: 'Barlow Semi Condensed', sans-serif;
    
}

/* 
================================
Global Styles
================================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 81.3%;} /*13px*/

body {
    background: var(--light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    color: #000000;
}

/* p {margin-bottom: 1rem;} */

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-blackish-blue);
    margin-top: 0.5rem;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}
/* 
=============================

=============================
*/

main {
    display: grid;
    justify-items: center;
    
    
}
.card-container {
    /* border: 2px solid red; */
    max-width: 370px;
    width: 100%;
    width: 80%;
    display:grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
}

.review-card {
    /* background: purple; */
    display: grid;
    grid-template-rows: 55px auto auto;
    grid-template-rows:  50px repeat(auto-fill, 1fr);
    grid-template-columns: minmax(350px, 1fr);
    /* gap: 20px; */
    /* padding: 1.5rem; */
    border-radius: var(--border-radius);
    /* padding: 0.5rem 2rem; */
    padding: 0 2rem;
    
}

.purple-card {
    background: var(--moderate-violet);
}

.gray-card {
    background: var(--dark-grayish-blue);
}

.white-card {
    background: var(--white);
}

.white-card .person-name {
    color: var(--dark-grayish-blue);
}

.white-card .person-verification {
    color: var(--dark-grayish-blue-5);
}
.white-card .card-title {
    color: var(--dark-blackish-blue);
}
.white-card .card-details {
    color: var(--dark-grayish-blue-7);
    
}
.dark-gray-card {
    background-color: var(--dark-blackish-blue);
}
/* Person */
.person-details {
    display: flex;
    /* border: 2px blue solid; */
    margin-top: 2rem;
    /* margin-left: 0.5rem; */
    /* align-items: center; */
    padding-left: 0.75rem;
}

.person-name {
    /* width: 150px; */
    width: 10rem;
    /* height: 12px; */
    height: 1rem;
}
.person-name {
    /* flex: 2 0 auto; */
}
.person-details img {
    width: 2rem;
    height: 2rem;
    /* width: 25px;
    height: 25px; */
    border-radius: 50%;
    border: transparent;
    margin-right: 1rem;
}

.person-name{
    color: var(--light-gray);
    font-size: 0.75rem;
}

.person-verification{
    color: var(--light-gray-5);
    font-size: 0.65rem;
    margin-top: -0.85rem;
}

.person-name-container p {
    /* display: flex; */
    margin-bottom: 1rem;
}

.purple-card, .dark-gray-card img:nth-of-type(2n+1) {
    border: solid 2px var(--moderate-violet-1);
    
}
.person-details img:nth-of-type(2n) {
    border: solid 2px var(--white);
    
}

.card-title {
    /* margin: 1rem; */
    /* border: 2px solid orange; */
    color: var(--light-grayish-blue);
    font-size: 1.55rem;
    /* margin: 0 20px; */
    /* text-align: start; */
    margin-top: 0.5rem;
    line-height: 1.35;
    /* white-space: nowrap; */
    padding: 0.75rem;
    max-width: 80%;
    font-weight: 600;
    
}

.card-details {
    color: var(--light-gray-7);
    /* border: 2px solid greenyellow; */
    padding: 1.15rem;
    max-width: 90%;
}

blockquote p  {
   border: 2px solid seagreen;
}

.blockquote p::before {
    content: open-quote;
}

.blockquote p::after {
    content: close-quote;
}

.blockquote {
    quotes: "“" "”" "‘" "’";
}


.fancy-blockquote {
    /* padding: 60px 80px 40px; */
    position: relative;
    /* quotes: "\201C""\201D""\2018""\2019"; */
}

.fancy-blockquote::before {
  position: absolute;
  /* font-family: "Open-Sans"; */
  /* font-family: monospace; */
  top: -315px;
  right: -15px;
  
  content: url(/images/bg-pattern-quotation.svg);
  opacity: 70%;
  font-size: 25rem;
  /* color: var(--moderate-violet-2); */
   
}

/* .blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
} */